.nav {
    position: fixed;
    top:0;
    width: 100%;
    padding: 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    z-index: 1;
}

.nav_logo{
    position: fixed;
    left: 10px;
    width: 70px;
    object-fit: contain;
}

.nav_avatar{
    position:fixed;
    right: 10px;
    width: 30px;
    object-fit: contain;
}